.full-section {
  height: 100%;
  width: 100%;
}

.objectInGraph {
  position: absolute;
  height: 125px;
  width: 125px;
  margin-bottom: -20px;
  img {
    height: 125px;
  }
  p {
    margin-top: -30px !important;
    text-align: center;
  }
  .right-top-icon {
    position: inherit;
    height: 50px;
    right: 3px;
    top:-50px;
  }
  .left-top-icon {
    position: inherit;
    height: 50px;
    left: -10px;
    top:-50px;
  }
  .left-bottom-icon {
    position: inherit;
    height: 50px;
    left: -10px;
    top: 100px;
  }
  .right-bottom-icon {
    position: inherit;
    height: 50px;
    right: -20px;
    top: 100px;
  }
}

.line {
  line {
    stroke-width: 10;
    stroke: rgb(255, 255, 255);
  }
  border: 1cm red;
}

.left-line {
  @extend .line;
  margin-left: 200px;
}

.right-line {
  @extend .line;
  margin-left: 300px;
}

.alice {
  margin-top: 350px;
  left: 50px;
}


.bob {
  margin-top: 350px;
  right: 50px;
  text-align: right;
}

.bnd {
  @extend .objectInGraph;
  width: auto;
  margin-left: 40px;
}

.durchsuchung {
  position: absolute;
  z-index: 1;
  left: 26%;
}

.staatstrojaner {
  z-index: 1;
  position: absolute;
  left: 5%;
}

.horse {
}
.white-background {
  background-color: whitesmoke;
}

.container {
  display: flex;
  justify-content: center;
}

.alice-icon {
  top: 200px;
  left: 70px;
}

.email-icon {
  height: 50px;
}

.quote {
  font-size: large;
}